<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel = 'stylesheet' href = '/stylesheet/chat_ui.css'></link>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/chat.js"> </script>

  <body>
    <div id="body">
      <ul id="content"></ul>
      <form action="">
        <input type="text" id="data" placeholder="Enter your message"/>
        <button id="send">Send</button>
      </form>
  </div>
  </body>
</html>
