<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel = 'stylesheet' href = '/stylesheet/chat_ui.css'></link>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/chat.js"> </script>
  <% include menu %>
  <body>

    <div id="body" >
      <div style="width:100%">
      <div style = "float:left; width:20%">
        Active Users -
        <ul id = "defaultActiveUsers"> </ul>
        <ul id = "room1ActiveUsers" ></ul>
        <ul id = "room2ActiveUsers" ></ul>
      </div>
    <div style = "float:left; width:50%">
      <ul id="defaultRoomContent" style = "float:left; width:90%"> DEFAULT</ul>
      <ul id="room1Content" style = "float:left; width:90%" > room1Content</ul>
      <ul id="room2Content" style = "float:left; width:90%" >room2Content</ul>
    </div>
  </div>
      <form action="">
        <input type="text" id="data" placeholder="Enter your message"/>
        <button id="send">Send</button>
        <br>
        <select id = "selectRooms">
          <option value = "Room1"> Room1 </option>
          <option value = "Room2"> Room2 </option>
        </select>
        <button id="join">Join</button>
        <select id = "switchRooms">
        </select>
        <button id ="switchButton">Switch Room</button>
      </form>
  </div>
  </body>
</html>
