<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel = 'stylesheet' href = '/stylesheet/chat_ui.css'></link>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/chat.js"> </script>
  <% include menu %>
  <body>

    <div id="body" >
      <div style="width:100%">
      <div style = "float:left; width:20%">
      Active Users - 
      <ul id = "activeUsers"> </ul>
    </div>
    <div style = "float:left; width:80%">
      <ul id="content" style="float:left ; width: 70%"></ul>
    </div>
  </div>
      <form action="">
        <input type="text" id="data" placeholder="Enter your message"/>
        <button id="send">Send</button>
      </form>
  </div>
  </body>
</html>
