<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheet/style.css'>
</head>
<body>
<% include menu %>
<h1><%= title %></h1>
<p>Enter credentials to Login</p>
<% include message %>
<form action='/login' method='post'>
<p>
<input type="text" name='user[name]' placeholder='Username' />
</p>
<p>
<input type='password' name= 'user[pass]' placeholder='password'/>
</p>
<p>
<input type='submit' value='Login' />
</p>
</form>
</body>
</html>
