<% if(locals.userName) { %>
  <div id = "menu">
    <span class = "name"> <%= userName %>
    <a href = "/logout"> Logout </a>
  </div>
<% } else { %>
  <div id = "menu">
    <a href = "/login"> Login </a>
    <a href ="/register"> Register </a>
  </div>
<% } %>
